@model Modelos.cd_proyectos

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cargarimagenes</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="from-actions-multiple">Selecionar imagenes</h4>
                    <div class="alert alert-info" role="alert">
                        <strong>Imagenes</strong>
                    </div>

                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="container">
                            <div class="panel panel-primary">
                                <div class="panel-body">

                                    @*<form action="/Menu/ingresar" method="post" enctype="multipart/form-data">*@
                                    @using (Html.BeginForm("ingresar", "Menu", FormMethod.Post, new { @class = "form", id = "formulario" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <h4 class="text-center">Cargar Multiples Imagenes</h4>
                                        <div class="row justify-content-md-center">
                                            <div class="col-md-6">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="form-group col-12 mb-2">

                                                            <label class="" for="eventRegInput1">Nombre</label>
                                                            @Html.EditorFor(model => model.PROYECTOS_NOMBRE, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de la imagen" } })
                                                              @Html.ValidationMessageFor(model => model.PROYECTOS_NOMBRE, "", new { @class = "text-danger" })
                                                            @*<input type="text" id="NombreProyecto" name="NombreProyecto" class="form-control" placeholder="name" name="nombre">*@

                                                            <label class="" for="eventRegInput1">Descripción</label>
                                                            @Html.EditorFor(model => model.PROYECTOS_DESCRIPCION, new { htmlAttributes = new { @class = "form-control", placeholder = "Descripción" } })
                                                              @Html.ValidationMessageFor(model => model.PROYECTOS_DESCRIPCION, "", new { @class = "text-danger" })
                                                            @*<input type="text" id="DescripcionProyecto" name="DescripcionProyecto" class="form-control" placeholder="name" name="nombre">*@

                                                            <label class="">Imagenes</label>
                                                            <input type="file" class="form-control" id="archivo[]" name="archivo[]" multiple="">
                                                            <br />
                                                            <button type="button" onclick="ProyectosAjax()" class="btn btn-primary">Cargar</button>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        function ProyectosAjax() {
            //var NombreProyecto = document.getElementById('NombreProyecto').value;
            //var DescripcionProyecto = document.getElementById('DescripcionProyecto').value;
            //var archivo = document.getElementsByClassName('archivo');
            //var j = 0;
            //var arreglo = 0;
            //for (var i = 0; i < archivo.length; i++) {
            //    arreglo[i] = archivo[i].value;
            //    console.log(arreglo[j]);
            //}
            //console.log(archivo);
            var formulario = $("#formulario");
            console.log(formulario);
            $.ajax({
                url: "/Menu/AjaxProyectos",
                data: formulario.serialize(),
                method: "POST",
                success: function (resultado) {
                    if (resultado.result) {
                        alert(resultado.mensaje);
                        window.location.href = '@Url.Action("Inicio", "Menu")'
                    }
                    else {
                        alert(resultado.mensaje);
                    }
                }
            });

        }
    </script>

</body>
</html>
