@model Modelos.cd_usuarios

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row justify-content-md-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="from-actions-multiple">Registrar Administradores</h4>
                <div class="alert alert-info" role="alert">
                    <strong>Ingresa los datos del administrador</strong>
                </div>

            </div>
            <div class="card-body">
                <div class="px-3">

                    @using (Html.BeginForm("Crear", "Menu", FormMethod.Post, new { @class = "form", id = "formulario" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-12 mb-2">

                                            <label for="eventRegInput1">Nombre</label>
                                            @Html.EditorFor(model => model.USUARIOS_NOMBRE, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                                            @Html.ValidationMessageFor(model => model.USUARIOS_NOMBRE, "", new { @class = "text-danger" })
                                            @*<input type="text" id="nombre" class="form-control" placeholder="name" name="nombre">*@
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-12 mb-2">
                                            <label for="eventRegInput2">Usuario</label>
                                            @Html.EditorFor(model => model.USUARIOS_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuario" } })
                                            @Html.ValidationMessageFor(model => model.USUARIOS_USUARIO, "", new { @class = "text-danger" })
                                            @*<input type="text" id="usuario" class="form-control" placeholder="title" name="usuario">*@
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-12 mb-2">
                                            <label for="eventRegInput3">Constraseña</label>
                                            @Html.EditorFor(model => model.USUARIOS_CONTRASEÑA, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.USUARIOS_CONTRASEÑA, "", new { @class = "text-danger" })
                                            @*<input type="password" id="password" class="form-control" placeholder="company" name="password">*@
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-12 mb-2">
                                            <label for="eventRegInput4">Tipo de usuario</label><br />
                                            @Html.DropDownListFor(model => model.USUARIOS_ROL, new SelectList(ViewBag.data, "ROLES_ID", "ROLES_NOMBRES"), new { @class = "form-control " })
                                            @Html.ValidationMessageFor(model => model.USUARIOS_ROL, "", new { @class = "text-danger" })
                                            @*<select id="roles" name="roles" class="custom-select cz-sidebar-width float-right"></select>*@
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="form-actions clearfix">
                            <div class="buttons-group float-left">
                                @*<button type="submit" class="btn btn-raised btn-primary mr-1">
                                    <i class="fa fa-check-square-o"></i> Guardar
                                </button>*@
                                <button type="button" onclick="GuardarAjax()" class="btn btn-raised btn-primary mr-1">
                                    <i class="fa fa-check-square-o"></i> Guardar
                                </button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    function GuardarAjax() {
        var formulario = $("#formulario");
        console.log(formulario);
        $.ajax({
                url: "/Menu/CrearAjax",
                data: formulario.serialize(),
                method: "POST",
                success: function (resultado) {
                    if (resultado.result) {
                        alert(resultado.mensaje);
                        window.location.href = '@Url.Action("Inicio", "Menu")'
                    }
                    else {
                        alert(resultado.mensaje);
                    }
                }
            });
    }
</script>


