@model Modelos.cd_usuarios
@using Microsoft.Owin.Security
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    @Styles.Render("~/bundles/css");
    <style>
        body {
            padding-top: 0;
            padding-bottom: 20px;
        }
    </style>
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="1-column" class=" 1-column  blank-page">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper nav-collapsed menu-collapsed">
        <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">
                <div class="content-wrapper">
                    <!--Login Page Starts-->
                    <section id="login">
                        <div class="container-fluid">
                            <div class="row full-height-vh m-0">
                                <div class="col-12 d-flex align-items-center justify-content-center">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body login-img">
                                                <div class="row m-0">

                                                    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, id = "formulario" }))
                                                    {
                                                        @Html.AntiForgeryToken()

                                                        <div class=" col-md-16 bg-white px-4 pt-3">
                                                            <h4 class="mb-2 card-title">Login</h4>
                                                            <p class="card-text mb-3">
                                                                Welcome back, please login to your account.
                                                            </p>
                                                            @Html.EditorFor(model => model.USUARIOS_USUARIO, new { htmlAttributes = new { @class = "form-control mb-3", placeholder = "Usiario" } })
                                                            @Html.ValidationMessageFor(model => model.USUARIOS_USUARIO, "", new { @class = "text-danger" })

                                                            @Html.EditorFor(model => model.USUARIOS_CONTRASEÑA, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Password", @type = "password" } })
                                                            @Html.ValidationMessageFor(model => model.USUARIOS_CONTRASEÑA, "", new { @class = "text-danger" })
                                                            @*<input type="text" id="nombre" name="nombre" class="form-control mb-3" placeholder="Nombre de usuario" />*@
                                                            @*<input type="password" id="password" name="password" class="form-control mb-1" placeholder="Contraseña" />*@

                                                            <div class="d-flex justify-content-between mt-2">
                                                                <div class="remember-me">
                                                                    <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                                                        <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1" class="custom-control-input" />
                                                                        <label class="custom-control-label" for="customCheckboxInline1">
                                                                            Remember Me
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="forgot-password-option">
                                                                    <a href="forgot-password-page.html" class="text-decoration-none text-primary">
                                                                        Forgot Password
                                                                        ?
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="fg-actions d-flex justify-content-between">
                                                                <div class="login-btn">
                                                                    <button class="btn btn-outline-primary">
                                                                        <a href="register-page.html" class="text-decoration-none">Register</a>
                                                                    </button>
                                                                </div>
                                                                <div class="recover-pass">
                                                                    <button class="btn btn-primary">
                                                                        <input type="submit" class="" value="Login" />
                                                                        @*<a href="dashboard1.html" class="text-decoration-none text-white">Login</a>*@
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <hr class="m-0">
                                                            <div class="d-flex justify-content-between mt-3">
                                                                <div class="option-login">
                                                                    <h6 class="text-decoration-none text-primary">Or Login With</h6>
                                                                </div>
                                                                <div class="social-login-options">
                                                                    <a class="btn btn-social-icon mr-2 btn-facebook">
                                                                        <span class="fa fa-facebook"></span>
                                                                    </a>
                                                                    <a class="btn btn-social-icon mr-2 btn-twitter">
                                                                        <span class="fa fa-twitter"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Login Page Ends-->

                </div>
            </div>
            <!-- END : End Main Content-->
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Scripts.Render("~/bundles/js");
</body>
<!-- END : Body-->
</html>